@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800|Raleway:400,600,800|Courier+Prime&display=swap');

@import "image-gallery.scss";
@import "carousel.css";

$primaryHeaderFont: Montserrat;
$primaryMainFont: Raleway;
$primaryAccentColor: #2382a5;
$secondAccentColor: #617;
$code: #B01055;
$code: rgb(212, 91, 87);


$primaryBackgroundColor: #d1d1d1;
$medgrey: #d1d1d1;
$darkgrey: #666;

* {
    margin: 0;
    padding: 0;
}
html {
    background-color: whitesmoke;
}

.App {
    margin: 0 0 30px;
    padding: 0 0 30px;
    top: 0;
    height: 100%;
}
.homeContainer {
    display: grid;
    position: relative;
    padding-top: 65px;
    margin: 0 50px 65px 50px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 210px;
    row-gap: 25px;
    column-gap: 25px;
    text-align: center;
    background-position: center;
    background-size: center;
    justify-content: center;
    flex-direction: row;
    z-index: 1;

    @media (min-width: 550px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
    @media (min-width: 750px) {
        grid-template-columns: 1fr 1fr 1fr 1fr ;
        padding-top: 85px;
        margin: 0 50px 85px 50px;
        row-gap: 30px;
        column-gap: 30px;
    }
    @media (min-width: 900px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto 233px;
    }
    @media (min-width: 1100px) {
        grid-template-rows: auto 267px;
        row-gap: 40px;
        column-gap: 40px;
    }
    @media (min-width: 1400px) {
        padding-top: 100px;
        margin: 0 50px 100px 50px;
        row-gap: 50px;
        column-gap: 50px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}
.homeSpacer {
    height: 25px;
    border: 0;
    box-shadow: inset 0 25px 25px -25px $medgrey;
    margin-top: -35px;
    margin-bottom: -55px;
    z-index: 100 !important;
    // background-color: red;
    width: 100%;
}
.homeSpacerUX {
    height: 25px;
    border: 0;
    box-shadow: inset 0 25px 25px -25px $medgrey;
    margin-top: -35px;
    margin-bottom: 20px;
    z-index: 100 !important;
    // background-color: red;
    width: 100%;
}
.footerLink {
    font-family: $primaryHeaderFont;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    text-decoration: none;
    color: black;
    letter-spacing: .15px;
    line-height: 1.8;

    &:hover {
        color: $secondAccentColor;
        font-weight: 600;
    }
    @media (min-width: 400px) {
        font-size: 12px;
    }
    @media (min-width: 500px) {
        font-size: 13px;
        line-height: 1.5;
    }
    @media (min-width: 750px) {
        font-size: 15px;
    }
}
.footCont {
    background-color: $primaryBackgroundColor;
    display: flex;
    position: fixed;
    bottom: 0px;
    width: 100vw;
    height: 40px;
    padding: 10px;
    line-height: 40px;
    justify-content: space-evenly;
    text-align: center;
    z-index: 5;
    box-sizing: border-box;
}
.navbarLink {
    font-family: $primaryHeaderFont;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
    font-size: 11px;
    color: black;
    letter-spacing: .15px;
    z-index: 5;
    line-height: 1.8;
    margin: 0px 5px 3px;
    cursor: pointer;

    &:hover {
        color: $secondAccentColor;
        font-weight: 600;
    }
    @media (min-width: 400px) {
        font-size: 12px;
    }
    @media (min-width: 500px) {
        font-size: 13px;
        line-height: 1.5;
    }
    @media (min-width: 750px) {
        font-size: 15px;
        margin: 0px 5px 1px;
    }
}
.mobileHide {
    display: none;
    
    @media (min-width: 500px) {
        display: inline-block;    
    }
}
.navbarLinkActive {
    position: relative;
    color: $primaryAccentColor;
    font-weight: 600;
    border-bottom: 2px solid whitesmoke;
    margin: 0px 5px 2q;
    font-size: 11px;
    letter-spacing: .15px;
    z-index: 5;
    line-height: 1.8;
    cursor: pointer;
    // padding-bottom: 2px;
    @media (min-width: 400px) {
        font-size: 12px;
        margin-bottom: 0q;   
    }
    @media (min-width: 500px) {
        border-bottom: 3px solid whitesmoke;
        margin-bottom: -1q;   
        font-size: 13px;
        line-height: 1.5;

    }
    @media (min-width: 750px) {
        margin-bottom: -3.5q;
        font-size: 15px;
    }
} 
.navbarLinkActive:after {
    display: none;

    @media (min-width: 500px) {
        display: inline-block;
        content: '';
        position: absolute;
        border-top: 5px solid whitesmoke;
        border-left: solid 12px transparent;
        border-right: solid 12px transparent;
        bottom: -7px;
        margin: 0 auto;
        bottom: -8px;
        left: 38%;
        right: 45%;
    }
    @media (min-width: 750px) {
        left: 43%;
        right: 45%;
    }
} 
.navbarCont {
    background-color: $primaryBackgroundColor;
    display: flex;
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 40px;
    padding: 10px;
    line-height: 40px;
    justify-content: space-evenly;
    text-align: center;
    z-index: 6;
    box-sizing: border-box;
    border-bottom: 2px whitesmoke solid;
}
.designthumb {
    width: 150px;
    height: 200px;
    background-color: $darkgrey;
    background-position: center;
    background-size: cover;
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;  
    border-radius: 2px;
    z-index: 0;
    margin: 1px solid black !important;
    box-shadow: $primaryBackgroundColor 5px 5px 10px 1px, 0px 0px 5px $primaryBackgroundColor;
    -webkit-box-shadow: $primaryBackgroundColor 5px 5px 10px 1px, 0px 0px 5px $primaryBackgroundColor;
    -moz-box-shadow: $primaryBackgroundColor 5px 5px 10px 1px, 0px 0px 5px $primaryBackgroundColor;

    @media (min-width: 550px) {
        width: 150px;
        height: 200px;
    }
    @media (min-width: 750px) {
        width: 150px;
        height: 200px;
    }
    @media (min-width: 900px) {
        width: 175px;
        height: 233px;
    }
    @media (min-width: 1100px) {
        width: 200px;
        height: 267px;
    }
    // @media (min-width: 1400px) {
    //     width: 225px;
    //     height: 300px;
    // }
}
.projectParentRelative {
    position: relative;
    width: 150px;
    height: 200px;
    z-index: 5;
    text-align: center;

    @media (min-width: 550px) {
        width: 150px;
        height: 200px;
    }
    // @media (min-width: 750px) {
    //     width: 150px;
    // }
    @media (min-width: 900px) {
        width: 175px;
        height: 233px;
    }
    @media (min-width: 1100px) {
        width: 200px;
        height: 267px;
    }
    // @media (min-width: 1400px) {
    //     width: 225px;
    //     height: 300px;
    // }
}
.projectParentAbsolute {
    position: absolute;
    width: 150px;
    // height: 200px;
    z-index: 5;
    top: 75px;

    @media (min-width: 550px) {
        width: 150px;
        // height: 200px;
    }
    @media (min-width: 750px) {
        width: 150px;
        top: 85px;
    }
    @media (min-width: 900px) {
        width: 175px;
        top: 95px;
    }
    @media (min-width: 1100px) {
        width: 200px;
        top: 110px;
    }
    // @media (min-width: 1400px) {
    //     width: 225px;
    //     height: 300px;
    // }
    &:hover {
        opacity: 0;
        transition: opacity .20s ease-in-out;
        -moz-transition: opacity .20s ease-in-out;
        -webkit-transition: opacity .20s ease-in-out;
    }
}
.projectBar {
    background: rgba(255, 255, 255, 0.897);
    display: block;
    height: auto;
    width: 125px;
    z-index: 3;
    margin-left: 12.5px;
    align-content: center;
    border: 2px white solid;
    box-sizing: border-box;
    box-shadow: $darkgrey 1px 1px 5px;
    padding: 5px 5px 6px;

    @media (min-width: 550px) {
        width: 125px;
    }
    @media (min-width: 750px) {
        width: 125px;
    }
    @media (min-width: 900px) {
        width: 150px;
        // top: 100px;
    }
    @media (min-width: 1100px) {
        width: 175px;    
        // top: 140px;
    }
    @media (min-width: 1400px) {
        // width: 200px;    
        // top: 150px;
    }
}
.projectName {
    font-family: $primaryHeaderFont;
    display: block;
    font-size: 12px;
    color: black;
    text-decoration: none;
    z-index: 4;
    width: 100%;
    line-height: 1.2;
    letter-spacing: .3px;
}
.projectType {
    font-family: $primaryMainFont;
    display: block;
    font-size: 12px;
    font-weight: 600;
    color: $darkgrey;
    text-decoration: none;
    width: 100%;
    letter-spacing: .4px;
    margin-top: 5px;
}
.iframe {
    position: relative;
    top: 0;
    left: 0;
    border: 1px solid $darkgrey;
    width: 300px;
    height: 198px;
    margin: auto;
    margin-top: 25px;

    @media (min-width: 550px) {
        width: 400px;
        height: 264px;
    }
    @media (min-width: 750px) {
        width: 600px;
        height: 395px;
    }
    @media (min-width: 900px) {
        width: 683px;
        height: 450px;
    }
    @media (min-width: 1100px) {
        width: 683px;
        height: 450px;
    }
}
.iframeDisclaimer {
    margin: 10px 75px 100px;
    font-family: $primaryMainFont;
    font-size: 12px
}
.profile {
    text-align: center;
    margin: 80px 0px 0px;    
}
.profile2 {
    text-align: center;
    margin-right: 35px;  
    margin-bottom: 100px; 
}
.welcome {
    font-family: $primaryMainFont;
    margin: 25px 35px 0px;
    font-size: 15px;
    line-height: 1.4;
    letter-spacing: .5px;
    font-weight: 600;

    @media (min-width: 400px) {
      font-size: 16px;
    }
    @media (min-width: 700px) {
        font-size: 18px;
        margin: 40px 35px 0px;
    }
    @media (min-width: 1000px) {
        font-size: 24px;
        margin: 50px 35px 0px;
    }
}
.careerCode {
    font-family: 'Courier New', Courier, monospace;
    margin: 20px 55px;
    font-size: 15px;
    color: $secondAccentColor;
    font-weight: 600;
    letter-spacing: .4px;
    display: inline-block;
    -webkit-animation: text-shadow-pop-bottom 3s ease forwards ;
        animation: text-shadow-pop-bottom 3s ease forwards ;

    &:hover {
        -webkit-animation: text-shadow-pop-bottom 3s ease forwards infinite;
        animation: text-shadow-pop-bottom 3s ease forwards infinite;
    }

    @media (min-width: 400px) {
        font-size: 16px;
    }
    @media (min-width: 700px) {
        font-size: 18px;
        margin: 30px 25px ;
    }
    @media (min-width: 1000px) {
        font-size: 24px;
        margin: 40px 35px;
    }
}
@-webkit-keyframes text-shadow-pop-bottom {
    0% {
      text-shadow: 0 0 $medgrey, 0 0 $medgrey, 0 0 $medgrey, 0 0 $medgrey, 0 0 $medgrey, 0 0 $medgrey, 0 0 $medgrey, 0 0 $medgrey;
      transform: scale(1, 1);

    }
    50% {
      text-shadow: 0 1px 3px 2px $medgrey, 0 2px 2px $medgrey, 0 3px 2px $medgrey, 0 4px 2px $medgrey, 0 5px 5px $medgrey, 0 6px 5px $medgrey, 0 7px 5px $medgrey;
      transform: scale(1.26, 1.26);
      color: $primaryAccentColor;
 
    }
    100% {
        text-shadow: 0 0 $medgrey, 0 0 $medgrey, 0 0 $medgrey, 0 0 $medgrey, 0 0 $medgrey, 0 0 $medgrey, 0 0 $medgrey, 0 0 $medgrey;
        transform: scale(1, 1);
  
      }
  }
  @keyframes text-shadow-pop-bottom {
    0% {
      text-shadow: 0 0 $medgrey, 0 0 $medgrey, 0 0 $medgrey, 0 0 $medgrey, 0 0 $medgrey, 0 0 $medgrey, 0 0 $medgrey, 0 0 $medgrey;
      transform: scale(1, 1);

    }
    50% {
      text-shadow: 0 1px 2px $medgrey, 0 2px 2px $medgrey, 0 3px 2px $medgrey, 0 4px 2px $medgrey, 0 5px 5px $medgrey, 0 6px 5px $medgrey, 0 7px 5px $medgrey;
      transform: scale(1.26, 1.26);
      color: $primaryAccentColor;

    //   -webkit-transform: translateY(-8px);
    //           transform: translateY(-8px);
    }
    100% {
        text-shadow: 0 0 $medgrey, 0 0 $medgrey, 0 0 $medgrey, 0 0 $medgrey, 0 0 $medgrey, 0 0 $medgrey, 0 0 $medgrey, 0 0 $medgrey;
        transform: scale(1, 1);
      //   -webkit-transform: translateY(0);
      //           transform: translateY(0);
      }
  }
.profileHistory {
    font-family: $primaryMainFont;
    margin: 0px 40px 45px;
    font-size: 15px;
    text-align: left;
    line-height: 1.4;

    @media (min-width: 400px) {
        margin: 0px 35px 45px; 
    }
    @media (min-width: 700px) {
        font-size: 18px;
        margin: 0px 35px 45px;    
        line-height: 1.5;
    }
    @media (min-width: 1000px) {
        font-size: 18px;
        margin: 0px 75px 45px;
        line-height: 1.6;
    }
}
.profileHeader {
    font-family: $primaryMainFont;
    color: $primaryAccentColor;
    margin: 15px 35px 0px;
    font-size: 17px;
    text-align: left;
    line-height: 1.4;
    font-weight: 600;

    @media (min-width: 700px) {
        font-size: 19px;
    }
    @media (min-width: 1000px) {
        font-size: 21px;
        margin: 15px 75px 0px;
    }
}
.profileLineSD {
    width: 378px;
    margin: 0px 35px;
    border: 1px solid $medgrey;

    @media (min-width: 700px) {
        width: 585px;
    }
    @media (min-width: 1000px) {
        width: 650px;
        margin: 0px 75px;
    }
}
.profileLineD {
    width: 385px;
    margin: 0px 35px;
    border: 1px solid $medgrey;
    @media (min-width: 700px) {
        width: 445px;
    }
    @media (min-width: 1000px) {
        width: 495px;
        margin: 0px 75px;
    }
}
.profileLineC {
    width: 224px;
    margin: 0px 35px;
    border: 1px solid $medgrey;
    @media (min-width: 700px) {
        width: 255px;
    }
    @media (min-width: 1000px) {
        width: 282px;
        margin: 0px 75px;
    }
}
.profileSmHead {
    font-family: $primaryMainFont;
    font-weight: 600;
    margin: 3px 0px 0px 35px;
    font-size: 15px;
    text-align: left;
    line-height: 1.4;

    @media (min-width: 400px) {
    }
    @media (min-width: 700px) {
        font-size: 18px;
    }
    @media (min-width: 1000px) {
        font-size: 20px;
        margin: 3px 0px 0px 75px;
    }
}
.profileSmHeadPhone {
    font-family: $primaryMainFont;
    font-weight: 600;
    margin: 3px 0px 30px 35px;
    font-size: 15px;
    text-align: left;
    line-height: 1.4;

    @media (min-width: 400px) {
    }
    @media (min-width: 700px) {
        font-size: 18px;
        margin: 3px 0px 40px 35px;
    }
    @media (min-width: 1000px) {
        font-size: 20px;
        margin: 3px 0px 40px 75px;
    }
}
.profileDetail {
    font-family: $primaryMainFont;
    font-weight: 500;
    font-size: 16px;
    text-align: left;
    line-height: 1.4;
    display: inline;

    @media (min-width: 700px) {
        font-size: 18px;
        margin: 20px 0px 0px;
    }
    @media (min-width: 1000px) {
        font-size: 20px;
        margin: 20px 0px 0px;
    }
}
.profileDetailEmail {
    font-family: $primaryMainFont;
    font-weight: 500;
    font-size: 16px;
    text-align: left;
    line-height: 1.4;
    display: inline;
    text-decoration: none;
    color: black;

    &:hover {
        animation: email-hover 4s ease infinite;
    }
    @media (min-width: 700px) {
        font-size: 18px;
        margin: 20px 0px 0px;
    }
    @media (min-width: 1000px) {
        font-size: 20px;
        margin: 20px 0px 0px;
    }
}
@keyframes email-hover {
    
    15% {
        color: $secondAccentColor;
    }
    50% {
        color: $primaryAccentColor;        
    }
    100% {
        color: $secondAccentColor;
    }
}
.resumeLink {
    font-family: $primaryMainFont;
    margin: 25px auto 50px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 185px;
    background-color: $primaryAccentColor;
    color: white;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 5px;

    &:hover {
        background-color: $secondAccentColor;
    }

    @media (min-width: 400px) {
        font-size: 18px;
    }
    @media (min-width: 700px) {
        font-size: 20px;
        width: 212px;
    }
    @media (min-width: 1000px) {
        font-size: 22px;
        width: 240px;
    }
}