@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800|Raleway:400,600,800|Courier+Prime&display=swap');

@import "image-gallery.scss";
@import "carousel.css";

$primaryHeaderFont: Montserrat;
$primaryMainFont: Raleway;
$primaryAccentColor: #2382a5;
$secondAccentColor: #617;
$code: #B01055;

$primaryBackgroundColor: #d1d1d1;
$darkgrey: #666;

* {
    margin: 0;
    padding: 0;
}
.App {
    margin: 0;
    padding: 0;
    top: 0;
    height: 100%;
}
.homeContainer {
    display: grid;
    position: relative;
    margin: 65px 50px 50px 50px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 210px;
    row-gap: 25px;
    column-gap: 25px;
    text-align: center;
    background-position: center;
    background-size: center;
    justify-content: center;
    flex-direction: row;
    z-index: 1;

    @media (min-width: 550px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
    @media (min-width: 750px) {
        grid-template-columns: 1fr 1fr 1fr 1fr ;
        margin-top: 85px;
        row-gap: 30px;
        column-gap: 30px;
    }
    @media (min-width: 900px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto 233px;
    }
    @media (min-width: 1100px) {
        grid-template-rows: auto 267px;
        row-gap: 40px;
        column-gap: 40px;
    }
    @media (min-width: 1400px) {
        margin-top: 100px;
        row-gap: 50px;
        column-gap: 50px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}
.footerLink {
    font-family: $primaryHeaderFont;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    text-decoration: none;
    color: black;
    letter-spacing: .35px;
    line-height: 1.4;

    &:hover {
        color: $primaryAccentColor;
    }
    @media (min-width: 400px) {
        font-size: 14px;
    }
    @media (min-width: 750px) {
        font-size: 16px;
        line-height: 1.5;
    }
}
.footCont {
    background-color: $primaryBackgroundColor;
    display: flex;
    position: fixed;
    bottom: 0px;
    width: 100vw;
    height: 40px;
    padding: 10px;
    line-height: 40px;
    justify-content: space-evenly;
    text-align: center;
    z-index: 5;
    box-sizing: border-box;
}
.navbarLink {
    font-family: $primaryHeaderFont;
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
    font-size: 12px;
    color: black;
    letter-spacing: .15px;
    z-index: 5;
    line-height: 1.2;
    margin: 0px 5px 0px;
    
    &:hover {
        color: $secondAccentColor;
    }
    @media (min-width: 400px) {
        font-size: 14px;
    }
    @media (min-width: 750px) {
        font-size: 16px;
        line-height: 1.7;
    }
    // @media (min-width: 900px) {
        
    // }
    // @media (min-width: 1100px) {
        
    // }
}
.navbarLinkActive{
    color: $primaryAccentColor;
    font-weight: 700;
} 
.navbarCont {
    background-color: $primaryBackgroundColor;
    display: flex;
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 50px;
    padding: 10px;
    line-height: 50px;
    justify-content: space-evenly;
    text-align: center;
    z-index: 6;
    box-sizing: border-box;
}
.designthumb {
    width: 150px;
    height: 200px;
    background-color: $darkgrey;
    background-position: center;
    background-size: cover;
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;  
    border-radius: 2px;
    z-index: 0;
    margin: 0;
    box-shadow: $primaryBackgroundColor 3px 3px 10px;

    @media (min-width: 550px) {
        width: 150px;
        height: 200px;
    }
    @media (min-width: 750px) {
        width: 150px;
        height: 200px;
    }
    @media (min-width: 900px) {
        width: 175px;
        height: 233px;
    }
    @media (min-width: 1100px) {
        width: 200px;
        height: 267px;
    }
    // @media (min-width: 1400px) {
    //     width: 225px;
    //     height: 300px;
    // }
}
.projectParentRelative {
    position: relative;
    width: 150px;
    height: 200px;
    z-index: 5;
    text-align: center;

    @media (min-width: 550px) {
        width: 150px;
        height: 200px;
    }
    // @media (min-width: 750px) {
    //     width: 150px;
    // }
    @media (min-width: 900px) {
        width: 175px;
        height: 233px;
    }
    @media (min-width: 1100px) {
        width: 200px;
        height: 267px;
    }
    // @media (min-width: 1400px) {
    //     width: 225px;
    //     height: 300px;
    // }
}
.projectParentAbsolute {
    position: absolute;
    width: 150px;
    // height: 200px;
    z-index: 5;
    top: 75px;

    @media (min-width: 550px) {
        width: 150px;
        // height: 200px;
    }
    @media (min-width: 750px) {
        width: 150px;
        top: 90px;
    }
    @media (min-width: 900px) {
        width: 175px;
        top: 105px;
    }
    @media (min-width: 1100px) {
        width: 200px;
        top: 110px;
    }
    // @media (min-width: 1400px) {
    //     width: 225px;
    //     height: 300px;
    // }
    &:hover {
        opacity: 0;
        transition: opacity .20s ease-in-out;
        -moz-transition: opacity .20s ease-in-out;
        -webkit-transition: opacity .20s ease-in-out;
    }
}
.projectBar {
    background: rgba(255, 255, 255, 0.897);
    display: block;
    height: 50px;
    width: 125px;
    z-index: 3;
    margin-left: 12.5px;
    align-content: center;
    border: 2px white solid;
    box-sizing: border-box;
    box-shadow: $darkgrey 1px 1px 5px;

    @media (min-width: 550px) {
        width: 125px;
    }
    @media (min-width: 750px) {
        width: 125px;
    }
    @media (min-width: 900px) {
        width: 150px;
        // top: 100px;
    }
    @media (min-width: 1100px) {
        width: 175px;    
        // top: 140px;
    }
    @media (min-width: 1400px) {
        // width: 200px;    
        // top: 150px;
    }
}
.projectName {
    font-family: $primaryHeaderFont;
    display: block;
    font-size: 12px;
    color: black;
    text-decoration: none;
    z-index: 4;
    width: 100%;
    line-height: 1.8;
    margin-top: 5px;
    letter-spacing: .3px;
}
.projectType {
    font-family: $primaryMainFont;
    display: block;
    font-size: 12px;
    font-weight: 600;
    color: $darkgrey;
    text-decoration: none;
    width: 100%;
    letter-spacing: .4px;
}
.iframe {
    position: relative;
    top: 0;
    left: 0;
    border: 1px solid $darkgrey;
    width: 300px;
    height: 198px;
    margin: auto;
    margin-top: 25px;

    @media (min-width: 550px) {
        width: 400px;
        height: 264px;
    }
    @media (min-width: 750px) {
        width: 600px;
        height: 395px;
    }
    @media (min-width: 900px) {
        width: 683px;
        height: 450px;
    }
    @media (min-width: 1100px) {
        width: 683px;
        height: 450px;
    }
}
.iframeDisclaimer {
    margin: 10px 75px 100px;
    font-family: $primaryMainFont;
    font-size: 12px
}
.profile {
    text-align: center;
    margin: 80px 0px 0px;    
}
.profile2 {
    text-align: center;
    margin-right: 35px;  
    margin-bottom: 100px; 
}
.welcome {
    font-family: $primaryMainFont;
    margin: 25px 35px 0px;
    font-size: 15px;
    line-height: 1.4;
    letter-spacing: .5px;
    font-weight: 600;

    @media (min-width: 400px) {
      font-size: 16px;
    }
    @media (min-width: 700px) {
        font-size: 18px;
        margin: 40px 35px 0px;
    }
    @media (min-width: 1000px) {
        font-size: 24px;
        margin: 50px 35px 0px;
    }
}
.careerCode {
    font-family: 'Courier New', Courier, monospace;
    margin: 10px 25px 0px;
    font-size: 15px;
    color: $secondAccentColor;
    font-weight: 600;
    letter-spacing: .4px;

    &:hover {
        color: $primaryAccentColor;
        transform: scale(1.25, 1.25);
        transition: ease-in-out 500ms;
    }

    @media (min-width: 400px) {
        font-size: 16px;
    }
    @media (min-width: 700px) {
        font-size: 18px;
        margin: 20px 25px 0px;
    }
    @media (min-width: 1000px) {
        font-size: 24px;
        margin: 40px 35px 0px;
    }
}
.profileHistory {
    font-family: $primaryMainFont;
    margin: 10px 35px 0px;
    font-size: 15px;
    text-align: left;
    line-height: 1.4;

    @media (min-width: 400px) {
        margin: 15px 35px 0px; 
    }
    @media (min-width: 700px) {
        font-size: 18px;
        margin: 20px 35px 0px;    
        line-height: 1.5;
    }
    @media (min-width: 1000px) {
        font-size: 18px;
        margin: 40px 75px 0px;
        line-height: 1.6;
    }
}
.profileHeader {
    font-family: $primaryMainFont;
    color: $primaryAccentColor;
    margin: 15px 35px 0px;
    font-size: 16px;
    text-align: left;
    line-height: 1.4;

    @media (min-width: 700px) {
        font-size: 18px;
    }
    @media (min-width: 1000px) {
        font-size: 20px;
        margin: 15px 75px 0px;
    }
}
.profileSmHead {
    font-family: $primaryMainFont;
    font-weight: 600;
    margin: 3px 0px 0px 35px;
    font-size: 15px;
    text-align: left;
    line-height: 1.4;

    @media (min-width: 400px) {
    }
    @media (min-width: 700px) {
        font-size: 18px;
    }
    @media (min-width: 1000px) {
        font-size: 20px;
        margin: 3px 0px 0px 75px;
    }
}
.profileSmHeadPhone {
    font-family: $primaryMainFont;
    font-weight: 600;
    margin: 3px 0px 20px 35px;
    font-size: 15px;
    text-align: left;
    line-height: 1.4;

    @media (min-width: 400px) {
    }
    @media (min-width: 700px) {
        font-size: 18px;
        margin: 3px 0px 40px 35px;
    }
    @media (min-width: 1000px) {
        font-size: 20px;
        margin: 3px 0px 40px 75px;
    }
}
.profileDetail {
    font-family: $primaryMainFont;
    font-weight: 500;
    font-size: 16px;
    text-align: left;
    line-height: 1.4;
    display: inline;

    @media (min-width: 700px) {
        font-size: 18px;
        margin: 20px 0px 0px;
    }
    @media (min-width: 1000px) {
        font-size: 20px;
        margin: 20px 0px 0px;
    }
}
.profileDetailEmail {
    font-family: $primaryMainFont;
    font-weight: 500;
    font-size: 16px;
    text-align: left;
    line-height: 1.4;
    display: inline;
    text-decoration: none;
    color: black;

    &:hover {
        color: $secondAccentColor
    }

    @media (min-width: 700px) {
        font-size: 18px;
        margin: 20px 0px 0px;
    }
    @media (min-width: 1000px) {
        font-size: 20px;
        margin: 20px 0px 0px;
    }
}
.resumeLink {
    font-family: $primaryMainFont;
    margin: 35px 35px 125px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    background-color: $primaryAccentColor;
    color: white;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 5px;

    &:hover {
        background-color: $secondAccentColor;
    }

    @media (min-width: 400px) {
        font-size: 18px;
    }
    @media (min-width: 700px) {
        font-size: 20px;
    }
    @media (min-width: 1000px) {
        font-size: 22px;
    }
}