@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway');
@import "~react-image-gallery/styles/scss/image-gallery.scss";

$primaryHeaderFont: Montserrat;
$primaryMainFont: Raleway;
$primaryAccentColor: #055168;
$primaryBackgroundColor: #dedede;

* {
    margin: 0;
    padding: 0;
}
.footerLink {
    font-family: $primaryHeaderFont;
    font-style: normal;
    font-weight: 800;
    text-decoration: none;
    color: black;
    letter-spacing: .35px;

    &:hover {
        color: $primaryAccentColor;
    }
}
.footCont {
    background-color: #dedede;
    display: flex;
    position: fixed;
    bottom: 0px;
    width: 100vw;
    height: 40px;
    line-height: 40px;
    justify-content: space-evenly;
    text-align: center;
}
.homeContainer {
    display: grid;
    margin: 65px 50px 50px 50px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 25px;
    column-gap: 25px;
    text-align: center;
    justify-items: center;
    align-items: center;
    background-position: center;
    background-size: center;
    text-align: center;
    justify-content: center;
    flex-direction: row;

    @media (min-width: 550px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
    @media (min-width: 750px) {
        grid-template-columns: 1fr 1fr 1fr 1fr ;
    }
    @media (min-width: 900px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        // margin-top: 75px;
    }
    @media (min-width: 1100px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    @media (min-width: 1400px) {
        // margin-top: 100px;
        row-gap: 25px;
        column-gap: 25px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}
.navbarLink{
    font-family: $primaryHeaderFont;
    font-style: normal;
    font-weight: 800;
    text-decoration: none;
    font-size: 14px;
    color: black;
    letter-spacing: .35px;
    z-index: 1;
    
    &:hover {
        color: $primaryAccentColor;
    }
}
.navbarLinkActive{
    color: $primaryAccentColor;
} 
.navbarCont {
    background-color: $primaryBackgroundColor;
    display: flex;
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 40px;
    line-height: 40px;
    justify-content: space-evenly;
    text-align: center;
}
.thumb {
    width: 150px;
    height: 200px;
    background-color: grey;
    background-position: center;
    background-size: cover;
    display: flex;
    text-align: center;
    justify-content: center;  

    @media (min-width: 550px) {
        width: 150px;
        height: 200px;
    }
    @media (min-width: 750px) {
        width: 150px;
        height: 200px;
    }
    @media (min-width: 900px) {
        width: 200px;
        height: 267px;
    }
    @media (min-width: 1100px) {
        width: 225px;
        height: 300px;
    }
    @media (min-width: 1400px) {
        width: 250px;
        height: 333px;
    }
}